NEXT_PUBLIC_NODE_ENV=local
NEXT_PUBLIC_APP_NAME="NextJS Tutorial"
NEXT_PUBLIC_APP_DESCRIPTION="NextJS Tutorial"
NEXT_PUBLIC_APP_VERSION="0.0.1"
NEXT_PUBLIC_API_URL="http://localhost:5050/"
NEXT_PUBLIC_TZ = "Asia/Ho_Chi_Minh"
NEXT_PUBLIC_URL=http://localhost:3000/
